html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  border: 1px solid black;
    margin: auto;
}
p {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

